In [24]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [122]:
url = 'https://www.wunderground.com/history/airport/KJRB/2016/{0}/{1}/DailyHistory.html?req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=&MR=1'

In [164]:
weather_data = pd.DataFrame(columns=['Date', 'Temperature', 'Rainfall', 'Atm_pressure' 'Wind_speed'])

In [202]:
for day in range(1,3):
    result = requests.get(url.format(1,day))
    c = result.content
    soup = BeautifulSoup(c)
    summary = soup.find('div', {'class': 'column large-8 right-spacing'})
    tables = summary.find_all('table')
    table = tables[0].find('tbody')
    rows = table.find_all('tr')
    data = []
    for tr in rows:
        cols = tr.find_all('td')
        for td in cols:
            values = td.find_all('span', {'class': 'wx-data'})
            for v in values:
                text = v.find('span', {'class': 'wx-value'}).text
                data.append(text)
    print(data)
    x = pd.Series([0, data[0], data[8], data[9], data[10]], index = ['Date', 'Temperature', 'Rainfall', 'Atm_pressure', 'Wind_speed'])
    weather_data.append(x, ignore_index=True)

/home/aleksey/projects/data_science/lib/python3.5/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html5lib"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 184 of the file /usr/lib/python3.5/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "html5lib")

  markup_type=markup_type))

['3', '6', '5', '17', '2', '-3', '-13', '-4', '0.00', '1017', '16', '26', '55', '16', '4', '7', '5', '17', '3', '-3', '-11', '-2', '0.00', '1017', '13', '37', '63', '16']
['3', '6', '5', '17', '2', '-3', '-13', '-4', '0.00', '1017', '16', '26', '55', '16']

In [203]:
x

Date               0
Temperature        3
Rainfall        0.00
Atm_pressure    1017
Wind_speed        16
dtype: object

In [204]:
weather_data

Empty DataFrame
Columns: [Date, Temperature, Rainfall, Atm_pressureWind_speed]
Index: []

['3', '6', '5', '17', '2', '-3', '-13', '-4', '0.00', '1017', '16', '26', '55', '16']

  Date Temperature Rainfall Atm_pressureWind_speed Atm_pressure Wind_speed
0    0           3     0.00                    NaN         1017         16

In [148]:
data[9]

IndexError: list index out of range