In [53]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import datetime

In [28]:
url = 'https://www.wunderground.com/history/airport/KJRB/2016/{0}/{1}/DailyHistory.html?req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo=&MR=1'

In [60]:
weather_data = pd.DataFrame(columns=['Date', 'Temperature', 'Rainfall', 'Atm_pressure', 'Wind_speed'])

In [61]:
for month in range(1, 13):
    if month in [1, 3, 5, 7, 8, 10, 12]:
        ndays = 32
    elif month in [4, 6, 9, 11]:
        ndays = 31
    else: ndays = 29
    for day in range(1,ndays):
        result = requests.get(url.format(month,day))
        c = result.content
        soup = BeautifulSoup(c)
        summary = soup.find('div', {'class': 'column large-8 right-spacing'})
        tables = summary.find_all('table')
        table = tables[0].find('tbody')
        rows = table.find_all('tr')
        data = []
        for tr in rows:
            cols = tr.find_all('td')
            for td in cols:
                values = td.find_all('span', {'class': 'wx-data'})
                for v in values:
                    text = v.find('span', {'class': 'wx-value'}).text
                    data.append(text)
        x = pd.DataFrame([[datetime.datetime(2016, month, day), data[0], data[8], data[9], data[10]]], columns = ['Date', 'Temperature', 'Rainfall', 'Atm_pressure', 'Wind_speed'])
        weather_data = weather_data.append(x)
print(weather_data)

/home/aleksey/projects/data_science/lib/python3.5/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html5lib"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 184 of the file /usr/lib/python3.5/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "html5lib")

  markup_type=markup_type))

IndexError: list index out of range

In [62]:
weather_data

         Date Temperature Rainfall Atm_pressure Wind_speed
0  2016-01-01           4     0.00         1017         13
0  2016-01-02           3     0.00         1017         16
0  2016-01-03           6     0.00         1012         16
0  2016-01-04          -2     0.00         1018          8
0  2016-01-05          -4     0.00         1036         10
0  2016-01-06           2     0.00         1034         11
0  2016-01-07           3     0.00         1026          8
0  2016-01-08           4     0.00         1023         16
0  2016-01-09           7     0.00         1021         21
0  2016-01-10          11     0.00         1002         23
0  2016-01-11           1     0.00         1013         21
0  2016-01-12           2     0.00         1011         11
0  2016-01-13          -2     0.00         1014         18
0  2016-01-14           0     0.00         1015         16
0  2016-01-15           7     0.00         1010          8
0  2016-01-16           9     0.00         1001         13
0  2016-01-17           3     0.00         1009          8
0  2016-01-18          -3     0.00         1011         13
0  2016-01-19          -3     0.00         1017         18
0  2016-01-20           1     0.00         1021          8
0  2016-01-21           1   256.54         1021          6
0  2016-01-22          -2     0.00         1024         10
0  2016-01-23          -2     0.00         1007         27
0  2016-01-24          -1     0.00         1014          5
0  2016-01-25           1     0.00         1025          8
0  2016-01-26           6     0.00         1017         11
0  2016-01-27           6     0.00         1017          6
0  2016-01-28           3     0.00         1013          6
0  2016-01-29           3     0.00         1002          8
0  2016-01-30           2     0.00         1017         10
..        ...         ...      ...          ...        ...
0  2016-09-11          26     0.00         1015         10
0  2016-09-12          23     0.00         1023         13
0  2016-09-13          23     0.00         1022         10
0  2016-09-14          26     3.30         1018         11
0  2016-09-15          22     0.25         1024         18
0  2016-09-16          21     0.00         1026          6
0  2016-09-17          22     0.25         1023          6
0  2016-09-18          26     0.00         1018         10
0  2016-09-19          23    21.08         1017          6
0  2016-09-20          26     0.00         1019          6
0  2016-09-21          26     0.00         1021          5
0  2016-09-22          26     0.00         1021         10
0  2016-09-23          26     0.00         1016          3
0  2016-09-24          20     6.10         1019         13
0  2016-09-25          19     0.00         1022          5
0  2016-09-26          19     0.00         1021         11
0  2016-09-27          22     2.54         1013         13
0  2016-09-28          18     0.25         1020         14
0  2016-09-29          17     0.00         1027         29
0  2016-09-30          16     1.27         1025         29
0  2016-10-01          17     0.25         1022         21
0  2016-10-02          17     0.00         1019         11
0  2016-10-03          20     0.00         1017          6
0  2016-10-04          20     0.00         1025         14
0  2016-10-05          18     0.00         1027         16
0  2016-10-06          19     0.00         1026          6
0  2016-10-07          20     0.00         1025          5
0  2016-10-08          19     5.84         1019         10
0  2016-10-09          17     7.87         1016         10
0  2016-10-10          16     0.00         1024          6

[283 rows x 5 columns]

In [42]:
pd.to_datetime('2016'+'1'+ str(day), format='%Y%m%d')

Timestamp('2016-01-02 00:00:00')

In [52]:
pd.to_datetime(dict(year = '2016', month ='1', day = '1'))

ValueError: If using all scalar values, you must pass an index

In [7]:
data[9]

'1017'